table {
  width: 100%;
}

.tabelaprincipal{
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

img {
  height: 15px;
  width: 15px;
}

.editar {
  margin-right: 3em;
}

th, td {
  padding: 15px;
}
