<div class="mat-elevation-z8 tabelaprincipal">
  <div>
    <img class = "icpdf" src="../../assets/img/pdf.png" alt="extrair pdf" (click)="gerarPDF()">
    <button mat-raised-button (click)="gerarPDF()" color="primary"> Gerar PDF</button>
  </div>

  <table mat-table [dataSource]="colaboradores" matSort id="my-table">
    <!-- Coluna Colaborador -->
    <ng-container matColumnDef="colaborador">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="left-align">
        Nome do Colaborador </th>
      <td mat-cell *matCellDef="let element">
        {{element.col_name}}
      </td>
    </ng-container>

    <!-- Coluna Acompanhante -->
    <ng-container matColumnDef="acompanhantes">
      <th mat-header-cell *matHeaderCellDef> Acompanhantes </th>
      <td mat-cell *matCellDef="let element">
        {{element.companions}}
      </td>
    </ng-container>

    <!-- Coluna Edicão / Exclusão-->
    <ng-container matColumnDef="edicaoexclusao">
      <th mat-header-cell *matHeaderCellDef > Editar / Excluir </th>
      <td mat-cell *matCellDef="let element">
        <img
          src="../../assets/img/alterar.png"
          class="editar" alt="editar" (click)="editarColaborador(element)">
        <img
          src="../../assets/img/excluir.png"
          class="excluir" alt="editar" (click)="excluirColaborador(element)">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
