<mat-toolbar color="primary">
  <img src="../assets/img/landix.png" class="logo-menu" alt="logo">
  <span class="separacao"></span>
  <span>Festa Landix 2021</span>
</mat-toolbar>
<mat-slide-toggle #administradores>Visão Administradores</mat-slide-toggle>
<div *ngIf="!administradores.checked">
  <app-formulario></app-formulario>
</div>
<div *ngIf="administradores.checked">
  <div *ngIf="!checarValidacao()">
    <mat-card>
      <mat-form-field appearance="fill">
        <mat-label>Senha para acesso</mat-label>
        <input matInput #senha>
        <mat-hint>Por enquanto use 12345</mat-hint>
        <mat-error>Preencha e revise - deve ser um e-mail válido</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="acessar" (click) = "validaSenha(senha.value)">Acessar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="checarValidacao()">
    <app-listaconvidados></app-listaconvidados>
  </div>
</div>
