<h1 mat-dialog-title>Edite os Campos e click em confirmar</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome Completo</mat-label>
    <input matInput [(ngModel)]="data.col_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.col_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Acompanhantes</mat-label>
    <input matInput [(ngModel)]="data.companions">
  </mat-form-field>
  <mat-form-field appearance="fill" class="area-colaborador">
    <mat-label>Departamento</mat-label>
    <mat-select>
      <div *ngFor="let departamento of departamentos">
        <mat-option value="option" (click)="atribuiDepartamento(departamento)">{{departamento.des_dep}}</mat-option>
      </div>
    </mat-select>
    <mat-error color="primary">Você deve selecionar uma opção</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
</div>


